<%- include('./partials/head.ejs') %>

<body>
    <main>
        <%- include('./partials/header.ejs') %>
        <div class="container ">
            <% if (typeof success !== "undefined") { %>
                <% if(success) { %>
                    <div class="alert alert-success alert-dismissible mt-3" role="alert">
                        <%=message %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                <% }else { %> 
                    <div class="alert alert-danger alert-dismissible mt-3" >
                        <%=message %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                <% } %>       
              <% } %> 
            
            <div class="row d-flex justify-content-center">
             
                <div class="col-lg-4 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ainda não possui cadastro?</h5>
                            <p class="card-text">Nós visamos incentivar o fotebol de varzea e ficamos felizes por você
                                também se interessar.
                                <br>
                                Se você ainda não possui cadastro, nós contamos com dois tipos de acesso. Seja você <a
                                    href="/atletas" class="text-danger">atleta</a> ou seja você <a href=""
                                    class="text-danger" data-toggle="modal"
                                    data-target="#modalRegiterRecrutador">recrutador</a>.
                            </p>
                            
                            
                            
                             <!-- Modal resultado cadastro -->
                            <!-- <div class="modal fade" id="modalResult" tabindex="-1" role="dialog" 
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" class="close" data-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            
                            <!-- Modal Form Recrutador -->
                            <div class="modal fade" id="modalRegiterRecrutador" tabindex="-1" role="dialog"
                                aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content" id="TituloModalCentralizado">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Fechar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <section id="register-form">
                                                <section class="pr-1">
                                                    <!-- Material form register -->
                                                    <div class="card">
                                                        <h5 class="card-header text-white bg-dark text-center py-4">
                                                            <strong>Recrutador</strong>
                                                        </h5>
                                                        <!--Card content-->
                                                        <div class="card-body px-lg-5 pt-0">
                                                            <!-- Form -->
                                                            <form class="text-center mt-3" method="POST"
                                                                action="/users/signUpRecruiter">
                                                                <div class="form-row">
                                                                    <div class="col">
                                                                        <!-- First name -->
                                                                        <div class="md-form">
                                                                            <input type="text"
                                                                                id="materialRegisterFormFirstName"
                                                                                class="form-control" placeholder="Pep"
                                                                                name="r_fname" required>
                                                                            <label
                                                                                for="materialRegisterFormFirstName">Nome
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <!-- Last name -->
                                                                        <div class="md-form">
                                                                            <input type="text"
                                                                                id="materialRegisterFormLastName"
                                                                                class="form-control"
                                                                                placeholder="Guardiola" name="r_lname" required>
                                                                            <label
                                                                                for="materialRegisterFormLastName">Sobrenome
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- Last name -->
                                                                <div class="form-group mt-3">
                                                                    <select class="form-control"
                                                                        id="exampleFormControlSelect1" name="r_club">
                                                                        <option>Ajax</option>
                                                                        <option>Catandeiras de Heliópolis</option>
                                                                        <option>Dragões da Casa Verde</option>
                                                                        <option>Guarani do jardim Peri</option>
                                                                        <option>7 de Setembro </option>
                                                                    </select>
                                                                    <label for="exampleFormControlSelect1">Clube
                                                                        representado</label>
                                                                </div>

                                                                <!-- E-mail -->
                                                                <div class="md-form mt-0">
                                                                    <input type="email" id="materialRegisterFormEmail"
                                                                        class="form-control"
                                                                        placeholder="meuEmail@email.com" name="r_email"  required>
                                                                    <label for="materialRegisterFormEmail"
                                                                        class="active">E-mail</label>
                                                                </div>
                                                                <!-- Password -->
                                                                <div class="md-form">
                                                                    <input type="password"
                                                                        id="materialRegisterFormPassword"
                                                                        class="form-control"
                                                                        aria-describedby="materialRegisterFormPasswordHelpBlock"
                                                                        name="r_password" required>
                                                                    <label for="materialRegisterFormPassword"
                                                                        class="active">Password</label>
                                                                    <small id="materialRegisterFormPasswordHelpBlock"
                                                                        class="form-text text-muted mb-4">
                                                                        Minimo de 8 (oito)
                                                                        caracteres .
                                                                    </small>
                                                                </div>
                                                                <!-- Sign up button -->
                                                                <button
                                                                    class="btn btn-outline-danger btn-rounded btn-block my-4 waves-effect z-depth-0"
                                                                    type="submit">Registrar-se</button>
                                                                <hr>
                                                                <!-- Terms of service -->
                                                                <p>Clique em
                                                                    <em>Registrar-se</em>
                                                                    caso voce concorde com
                                                                    <a href="" target="_blank">os
                                                                        termos de
                                                                        serviço.
                                                                    </a>

                                                                </p>
                                                            </form>
                                                            <!-- Form -->
                                                        </div>
                                                    </div>
                                                    <!-- Material form register -->
                                                </section>
                                                <!--Section: Live preview-->
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text"><small class="text-muted">Junte-se a nós!</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 mt-5">
                    <div class="container d-flex justify-content-center align-items-center p-5">
                        <p>Ou</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-5">
                    <div class="proximo-jogo-lider bg-light ">
                        <div class="widget-title-login">
                            <h5>Iniciar Sessão</h5>
                        </div>
                        <div class="widget-body mb-3">
                            <form action="/users/login" method="POST">
                                <label for="inf-nome">Email:</label>
                                <input type="email" class="form-control mb-2" id="inf-nome"
                                    placeholder="exemplo@email.com" value="" required name="email">
                                <label for="inf-nome">Senha:</label>
                                <input type="password" class="form-control mb-2" id="inf-nome"
                                    placeholder="Informe sua senha" value="" required name="password">
                                <button type="submit" value="upload"
                                    class="btn mt-3 btn-danger btn-lg btn-block">Entrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </main>

    
</body>

</html>